<ng-sidebar-container class="app" [ngClass]="{'mode-boxed': isBoxed, 'sidebar-opened': isOpened, 'theme-light': theme == 'light', 'theme-dark': theme == 'dark', 'mode-push': _mode == 'push', 'mode-dock': _mode == 'dock', 'mode-over': _mode == 'over', 'mode-slide': _mode == 'slide', 'no-footer': options?.removeFooter, 'map-header': options?.mapHeader}">
    <ng-sidebar
      [(opened)]="isOpened"
      [(mode)]="_mode"
      [position]="'left'"
      [dockedSize]="'80px'"
      [autoCollapseWidth]="'991'"
      [closeOnClickOutside]="isOver()"
      [showBackdrop]="isOver()"
      [sidebarClass]="'sidebar-panel'" #sidebar>
      <nav class="navbar custom-navbar main-brand">
        <a class="navbar-brand mr-auto" [routerLink]="['/']">
          <img src="assets/images/logo-purple.png" class="navbar-brand-logo" alt="">
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
              <i class="hamburger-icon v2" *ngIf="_mode === 'over' && !isOver()">
                <span></span>
              </i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- main navigation -->
      <nav class="menu">
        <ul class="navigation" appAccordion>
          <li class="navigation-item active" routerLinkActive="active" appAccordionLink group="dashboard">
            <a class="navigation-link active" appAccordionToggle [routerLink]="['/', 'dashboard']">
              <i class="icon icon-basic-book"></i>
              <span>Dashboard</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="transactions">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'transactions']">
              <i class="icon icon-ecommerce-graph2"></i>
              <span>Transactions</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="customerManagement">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'customerManagement']">
              <i class="icon fas fa-users"></i>
              <span>Customer Management</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="userManagement">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'userManagement']">
              <i class="icon far fa-user"></i>
              <span>User Management</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="roleManagement">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'roleManagement']">
              <i class="icon fas fa-tag"></i>
              <span>Role Management</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="rolePermission">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'rolePermission']">
              <i class="icon icon-basic-link"></i>
              <span>Role Permission</span>
              <span class="mr-auto"></span>
            </a>
          </li>
          <li class="navigation-item" appAccordionLink group="rolePermission">
            <a class="navigation-link" appAccordionToggle [routerLink]="['/', 'rolePermission']">
              <i class="icon fa fa-cog"></i>
              <span>Settings</span>
              <span class="mr-auto"></span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /main navigation -->
    </ng-sidebar>
  
    <div ng-sidebar-content class="app-inner">
      <nav class="navbar custom-navbar bg-faded main-header">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="javascript:;" class="nav-link" (click)="toogleSidebar()">
              <i class="hamburger-icon v2">
                <span></span>
              </i>
            </a>
          </li>
        </ul>
        <span class="navbar-heading hidden-xs-down">{{options?.heading}}</span>
        <span class="mr-auto"></span>
        <ul class="navbar-nav">
          <li class="nav-item" ngbDropdown placement="bottom-right">
            <a href="javascript:;" class="nav-link" ngbDropdownToggle>
              <small class="text-muted username">Sam Adeniyi</small>
              <img src="assets/images/avatar.jpg" class="navbar-avatar rounded-circle" alt="user" title="user">
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:;">
                <i class="icon icon-basic-settings mr-3"></i>
                <span>Settings</span>
              </a>
              <a class="dropdown-item" href="javascript:;">
                <i class="icon icon-basic-postcard mr-3"></i>
                <span>Profile</span>
              </a>
              <a class="dropdown-item" href="javascript:;">
                <i class="icon icon-basic-message-multiple mr-3"></i>
                <span>Notifications</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:;">
                <i class="icon icon-arrows-switch-vertical mr-3"></i>
                <span>Signout</span>
              </a>
            </div>
          </li>  
        </ul>
      </nav>
  
      <div class="main-content">
        <router-outlet></router-outlet>
        <nav class="navbar custom-navbar navbar-light main-footer small">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <span>Copyright &copy; 2017</span> <span class="ff-headers text-uppercase">Decima</span>. All rights reserved
              </a>
            </li>
          </ul>
          <ul class="navbar-nav hidden-xs-down">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Made with love on Earth</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  
  </ng-sidebar-container>